{% extends 'main.html' %}

{%  block content %}
    <h1>Rooms</h1>
        <div class="box"></div>
        {% for room in object_list %}
        <div class="box room-controls">
            <div class="controls-left">
                <a href="{% url 'room' room.id %}">{{ room.name }}</a><br>
                {{ room.description }}<br>
            </div>
            <div class="controls-right">
                <a href="{% url 'room_update' room.id %}">Edit</a>
                <a href="{% url 'room_delete' room.id %}">Delete</a>
            </div>
        </div>
        {% endfor %}
{%  endblock %}